/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font Google */
body {
  font-family: "Roboto", sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h3 {
  font-size: 2rem;
}

#excuse {
  font-size: 3rem;
  font-weight: 700;
  background: linear-gradient(to right, #f7ef03, #038df0, #fc8702);
  color: transparent;
  background-clip: text;
  margin: 50px;
  padding: 20px;
}
